* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body{
    padding-top: 10vh !important;
}

.loader {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailVerify {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}
.thread{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}