* {
    margin: 0;
    padding: 0;
}

.loader{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailVerify{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 100%;
}